
/* RESETS AND DEFAULT STYLES */
body {
	line-height: 1;
    font-family: 'Open Sans', sans-serif;
    color: #222222;
    padding: 0;
    margin: 0;
}
h1, h2, p {
    padding: 0;
    margin: 0;
}


/* MAIN PAGE */
#wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
}
.logo-first {
    font-weight: 300;
    text-transform: uppercase;
    font-kerning: normal;
}
.logo-last{
    font-weight: 800;
    text-transform: uppercase;
    font-kerning: normal;
}
.underline {
    text-decoration: underline;
}
.title {
    margin-top: 5px;
}
.box-container {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    border: 1px solid #222222;
    border-radius: 10px;
    box-shadow: .25em .25em .5em rgba(0, 0, 0, .25);
    cursor: pointer;
}
.box_headline {
    font-weight: 600;
    padding: 0;
    margin: 16px;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
}
.project_screenshot {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.budgie {
    background-image: url("_assets/images/budgie.jpg");
}
.color_bg {
    background-image: url("_assets/images/color_bg.jpg");
}
.gradient_bg {
    background-image: url("_assets/images/gradient_bg.jpg");
}
.quote_bg {
    background-image: url("_assets/images/quote_bg.jpg");
}
button {
    padding: 1em 2em;
    border: 1px solid #222222;
    margin: 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .1);
    transition: all 500ms;
}
button:hover {
    background-color: #222222;
    color: #ffffff;
    border-radius: 7px;
}
.box_copy {
    font-family: 'Bitter', serif;
    font-weight: 200;
    padding: .5em 0 0 0;
    border-top: 1px solid rgba(0, 0, 0, .05);
    margin: 16px 16px 16px 16px;
    font-size: 16px;
    line-height: 1.5;
}
.box_link {
    align-self: center;
    box-sizing: border-box;
    padding: .75em 2em;
    margin: 1em 0 2em 0;
    border: 1px solid #222222;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .9em;
    color: #222222;
    transition: all 500ms;
}
.box_link:hover {
    background-color: #222222;
    color: #ffffff;
    border-radius: 50px;
}
.back_link {
    padding-top: .5em;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .75em;
    color: #222222;
}
.back_link:visited {
    color: #222222
}

/* ----- RANDOM QUOTE ----- */
.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    padding: 1.5em;
    box-sizing: border-box;
    border: 1px solid #222222;
}
.quote-container__headline {
    text-transform: uppercase;
    margin-bottom: 1em;
}
.quote-detail__quote {
    font-family: 'Bitter', serif;
    font-size: 1em;
    margin-bottom: .75em;
}
.quote-detail__author {
    font-family: 'Bitter', serif;
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 2em;
}


/*----- DESKTOP STYLES ----- */
@media only screen and (min-width: 600px) {
    .box-container {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 1em;
        flex-wrap: wrap;
    }
    .box {
        max-width: 30%;
        min-height: 600px;
    }
    
    .quote-container {
        width: 575px;
    }
}
