body,
p,
h1,
h2,
h3,
form,
label,
input,
button {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  min-height: 100%;
  padding-bottom: 6rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  color: #222222 !important;
}
.transparentCover {
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5) url("images/budgie_budget-white-mobile.png") no-repeat center;
  z-index: 10000;

}
.closeCover {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
}
h1 {
  font-weight: 700 !important;
  color: #7F3F98 !important;
}
p {
  margin-bottom: 0 !important;
  font-weight: 700 !important;
}
label {
  color:#7F3F98 !important;
}
.label--bold {
  font-weight: 700;
}
.label--black {
  color: #222222 !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#navbarNav {
  justify-content: flex-end;
}
form {
  display: flex;
  flex-direction: column;
}
#set_budget_button {
  padding: 1em 2.5em;
  background-color: #7F3F98;
  color: #ffffff;
  border: 1px solid #7F3F98;
  border-radius: 7px;
  font-weight: 700;
  font-size: 1.25em;
}
#add_expense {
  padding: 1em 2.5em;
  background-color: #7F3F98;
  color: #ffffff;
  border: 1px solid #7F3F98;
  border-radius: 7px;
  font-weight: 700;
  font-size: 1.25em;
}
#set_budget_button:hover {
  color: #7F3F98;
  background-color: #ffffff;
  transition: all .5s ease-in-out;
}
#inputAmount {
  margin-bottom: 20px;
}
.input_questions {
  margin-bottom: 10px !important;
  margin-top: 20px !important;
}
.radio_buttons {
  flex-direction: row;
}


.list_purchases {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.list_purchases_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.list_purchases_item > p {
  margin-right: 1em;
}
.list_purchases_item > p:last-of-type {
  margin-right: 0em;
}
.list_purchases_total {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.list_purchases_total p {
  font-weight: 700;
  font-size: 1.5em;
}

/* display: flex;
  justify-content: space-evenly;
} */

.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.FoodSquare {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  /* height: 250px; */
  width: 250px;
  border: solid 5px #7f3f98;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .25);
}
.FoodSquare > p:nth-of-type(1) {
 padding: 1em 0 0 0;
}
section.boxes > h3 {
  font-weight: 700;
}
.expense_display {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.fas {
  font-size: 5.5em;
}
a {
  text-decoration: none !important;
  color:#846391!important;
}

.settingheading {
  margin-bottom: 30px;
}

#billsBudgetAmount {
  margin-bottom: 40px;
}

#foodBudgetAmount {
  margin-bottom: 40px;
}

#clothingBudgetAmount {
  margin-bottom: 40px;
}

#entertainmentBudgetAmount {
  margin-bottom: 40px;
}

#foodExpense {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#clothingExpense {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#entertainmentExpense {
  display: flex;
  flex-direction: column;
    align-items: flex-end;
}
#billsExpense {
  display: flex;
  flex-direction: column;
    align-items: flex-end;
}
.new__expense {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 .5em;
}
.button--purple {
  width: 280px;
  margin: 0 auto;
}
.back_link {
  padding-top: .5em;
  cursor: pointer;
  text-transform: uppercase;
  font-size: .75em;
  color: #222222;
}
.back_link:visited {
  color: #222222
}


@media only screen and (min-width: 600px){
.squareContainer {
 display: flex;
 flex-wrap: wrap;
}
.wrapper {
  width: 600px;
  margin:0 auto;
}
.transparentCover {
  background-image: url("images/budgie_budget-white.png");
}
}