body {
    padding: 0;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
}
.fa-star {
    max-width: 25px;
    cursor: pointer;
}

.clicked {
    color: #ff8800;
}

span {
    cursor: pointer;
}