body {
    padding: 0;
    margin: 0;
}
#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}
button {
    padding: 1em 2em;
    border: 1px solid #222222;
    margin: 0;
    background-color: rgba(255, 255, 255, .15);
}
.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
button {
    align-self: center;
}
